In [25]:
import boto3 #used to connect to aws services to work with it
import pandas as pd
from io import StringIO # to encode data in binary form
import time
import warnings
warnings.filterwarnings("ignore")

In [26]:
AWS_ACCESS_KEY ="XXXXXXXXXXXXX"
AWS_SECRET_KEY = "XXXXXXXXXXXXXXXX"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "covid_dataset"
S3_STAGING_DIR = "s3://meenakshi-test-bucket/output/"
S3_BUCKET_NAME = "meenakshi-test-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [27]:
#connect to athena and query data

In [28]:
athena_client = boto3.client(
                "athena",
                aws_access_key_id = AWS_ACCESS_KEY,
                aws_secret_access_key = AWS_SECRET_KEY,
                region_name = AWS_REGION,)

In [38]:
import boto3
import os
import pandas as pd

# Set up AWS credentials and region
# Configure AWS SDK
s3_client = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION)

#dictionary to store the after querying tables
table_names = ["enigma_jhud", "nytimes_data_in_usa_countyus_county","covid_19_testing_data_states_dailystates_daily","covid_19_testing_data_us_dailyus_daily","covid_19_testing_data_us_total_latestus_total_latest","nytimes_data_in_usaus_states","rearc_usa_hospital_beds","static_datasets_countrycodecountrycode","static_datasets_countypopulationcountypopulation","static_datasets_state_abvstate_abv"]

query_execution_responses = []

for table_name in table_names:
    response = athena_client.start_query_execution(
        QueryString=f"SELECT * FROM {table_name}",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )
    query_execution_responses.append(response)

all_files_downloaded = True  # Flag to check if all files are downloaded

for i in range(len(table_names)):
    table_name = table_names[i]
    query_execution_id = query_execution_responses[i]['QueryExecutionId']

    query_execution_result = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    
    s3_object_key = query_execution_result['QueryExecution']['ResultConfiguration']['OutputLocation']
    s3_object_key = s3_object_key.replace('s3://meenakshi-test-bucket/', '')
    
    file_name = table_name
    file_extension = '.csv'
    full_file_name = file_name + file_extension
    # Download the file from S3
    s3_client.download_file('meenakshi-test-bucket', s3_object_key, full_file_name)
    print(f"File downloaded: {full_file_name}")
    
    # Check if the file exists
    if not os.path.exists(full_file_name):
        all_files_downloaded = False
        break

if all_files_downloaded:
    print("All files downloaded successfully.")
    
    # Delete the files from S3
    for i in range(len(table_names)):
        table_name = table_names[i]
        query_execution_id = query_execution_responses[i]['QueryExecutionId']
        file_name = query_execution_id + ".csv"
        file_metadata_name = query_execution_id + ".csv.metadata"
        s3_object_key = f"output/{file_name}"
        s3_metadata_object_key = f"output/{file_metadata_name}"
        print(s3_object_key)
        print(s3_metadata_object_key)
        s3_client.delete_object(Bucket='meenakshi-test-bucket', Key=s3_object_key)
        s3_client.delete_object(Bucket='meenakshi-test-bucket', Key=s3_metadata_object_key)
        print(f"File deleted from S3: {s3_object_key}")
        print(f"File deleted from S3: {s3_metadata_object_key}")
else:
    print("Not all files were downloaded. Check the file download process.")

File downloaded: enigma_jhud.csv
File downloaded: nytimes_data_in_usa_countyus_county.csv
File downloaded: covid_19_testing_data_states_dailystates_daily.csv
File downloaded: covid_19_testing_data_us_dailyus_daily.csv
File downloaded: covid_19_testing_data_us_total_latestus_total_latest.csv
File downloaded: nytimes_data_in_usaus_states.csv
File downloaded: rearc_usa_hospital_beds.csv
File downloaded: static_datasets_countrycodecountrycode.csv
File downloaded: static_datasets_countypopulationcountypopulation.csv
File downloaded: static_datasets_state_abvstate_abv.csv
All files downloaded successfully.
output/5e01d09a-ed31-4337-84dc-0a84da36ea82.csv
output/5e01d09a-ed31-4337-84dc-0a84da36ea82.csv.metadata
File deleted from S3: output/5e01d09a-ed31-4337-84dc-0a84da36ea82.csv
File deleted from S3: output/5e01d09a-ed31-4337-84dc-0a84da36ea82.csv.metadata
output/adee491f-5c71-4a01-8f06-a8490060a6fe.csv
output/adee491f-5c71-4a01-8f06-a8490060a6fe.csv.metadata
File deleted from S3: output/adee491f-5c71-4a01-8f06-a8490060a6fe.csv
File deleted from S3: output/adee491f-5c71-4a01-8f06-a8490060a6fe.csv.metadata
output/7cc25483-921e-4346-ac07-e4c68b2dacff.csv
output/7cc25483-921e-4346-ac07-e4c68b2dacff.csv.metadata
File deleted from S3: output/7cc25483-921e-4346-ac07-e4c68b2dacff.csv
File deleted from S3: output/7cc25483-921e-4346-ac07-e4c68b2dacff.csv.metadata
output/a4f5f99a-ceb9-4c59-844f-591e8267c7a2.csv
output/a4f5f99a-ceb9-4c59-844f-591e8267c7a2.csv.metadata
File deleted from S3: output/a4f5f99a-ceb9-4c59-844f-591e8267c7a2.csv
File deleted from S3: output/a4f5f99a-ceb9-4c59-844f-591e8267c7a2.csv.metadata
output/880e5e52-06ce-4a98-a7fc-f4883d871e40.csv
output/880e5e52-06ce-4a98-a7fc-f4883d871e40.csv.metadata
File deleted from S3: output/880e5e52-06ce-4a98-a7fc-f4883d871e40.csv
File deleted from S3: output/880e5e52-06ce-4a98-a7fc-f4883d871e40.csv.metadata
output/aea4eca9-02c4-4f18-a073-eea56d7e6e25.csv
output/aea4eca9-02c4-4f18-a073-eea56d7e6e25.csv.metadata
File deleted from S3: output/aea4eca9-02c4-4f18-a073-eea56d7e6e25.csv
File deleted from S3: output/aea4eca9-02c4-4f18-a073-eea56d7e6e25.csv.metadata
output/61f1144e-343c-4bb0-9421-2e99fccf514c.csv
output/61f1144e-343c-4bb0-9421-2e99fccf514c.csv.metadata
File deleted from S3: output/61f1144e-343c-4bb0-9421-2e99fccf514c.csv
File deleted from S3: output/61f1144e-343c-4bb0-9421-2e99fccf514c.csv.metadata
output/8db3c4c2-d538-485d-8596-032e0ea028fa.csv
output/8db3c4c2-d538-485d-8596-032e0ea028fa.csv.metadata
File deleted from S3: output/8db3c4c2-d538-485d-8596-032e0ea028fa.csv
File deleted from S3: output/8db3c4c2-d538-485d-8596-032e0ea028fa.csv.metadata
output/b6afc314-444a-4730-a16b-16cb32a32de0.csv
output/b6afc314-444a-4730-a16b-16cb32a32de0.csv.metadata
File deleted from S3: output/b6afc314-444a-4730-a16b-16cb32a32de0.csv
File deleted from S3: output/b6afc314-444a-4730-a16b-16cb32a32de0.csv.metadata
output/65878738-e522-4fd5-b41d-195b54b224ec.csv
output/65878738-e522-4fd5-b41d-195b54b224ec.csv.metadata
File deleted from S3: output/65878738-e522-4fd5-b41d-195b54b224ec.csv
File deleted from S3: output/65878738-e522-4fd5-b41d-195b54b224ec.csv.metadata

In [39]:
import pandas as pd

table_data = {}  # Dictionary to store table data

table_names = ["enigma_jhud", "nytimes_data_in_usa_countyus_county","covid_19_testing_data_states_dailystates_daily","covid_19_testing_data_us_dailyus_daily","covid_19_testing_data_us_total_latestus_total_latest","nytimes_data_in_usaus_states","rearc_usa_hospital_beds","static_datasets_countrycodecountrycode","static_datasets_countypopulationcountypopulation","static_datasets_state_abvstate_abv"]

for table_name in table_names:
    file_name = table_name + ".csv"
    
    # Read the CSV file into a DataFrame
    table_data[table_name] = pd.read_csv(file_name)
    print(f"CSV file read: {file_name} for table: {table_name}")

# Access the table data using table names as keys
for table_name, data in table_data.items():
    # Perform operations on the table data
    print(f"Table: {table_name}")
    print(data.head())  # Example: Print the first few rows of the table
    print()

CSV file read: enigma_jhud.csv for table: enigma_jhud
CSV file read: nytimes_data_in_usa_countyus_county.csv for table: nytimes_data_in_usa_countyus_county
CSV file read: covid_19_testing_data_states_dailystates_daily.csv for table: covid_19_testing_data_states_dailystates_daily
CSV file read: covid_19_testing_data_us_dailyus_daily.csv for table: covid_19_testing_data_us_dailyus_daily
CSV file read: covid_19_testing_data_us_total_latestus_total_latest.csv for table: covid_19_testing_data_us_total_latestus_total_latest
CSV file read: nytimes_data_in_usaus_states.csv for table: nytimes_data_in_usaus_states
CSV file read: rearc_usa_hospital_beds.csv for table: rearc_usa_hospital_beds
CSV file read: static_datasets_countrycodecountrycode.csv for table: static_datasets_countrycodecountrycode
CSV file read: static_datasets_countypopulationcountypopulation.csv for table: static_datasets_countypopulationcountypopulation
CSV file read: static_datasets_state_abvstate_abv.csv for table: static_datasets_state_abvstate_abv
Table: enigma_jhud
   fips admin2 province_state country_region          last_update  latitude  \
0   NaN    NaN          Anhui          China  2020-01-22T17:00:00    31.826
1   NaN    NaN        Beijing          China  2020-01-22T17:00:00    40.182
2   NaN    NaN      Chongqing          China  2020-01-22T17:00:00    30.057
3   NaN    NaN         Fujian          China  2020-01-22T17:00:00    26.079
4   NaN    NaN          Gansu          China  2020-01-22T17:00:00    36.061

   longitude  confirmed  deaths  recovered  active combined_key partition_0
0    117.226        1.0     NaN        NaN     NaN       "Anhui         csv
1    116.414       14.0     NaN        NaN     NaN     "Beijing         csv
2    107.874        6.0     NaN        NaN     NaN   "Chongqing         csv
3    117.987        1.0     NaN        NaN     NaN      "Fujian         csv
4    103.834        NaN     NaN        NaN     NaN       "Gansu         csv

Table: nytimes_data_in_usa_countyus_county
         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

Table: covid_19_testing_data_states_dailystates_daily
       date state  positive  probablecases   negative  pending  \
0  20210220    UT    366034            NaN  1507875.0      NaN
1  20210220    VA    561812       117662.0        NaN    195.0
2  20210220    VI      2575            NaN    43564.0    108.0
3  20210220    VT     14359          411.0   309335.0      NaN
4  20210220    WA    332904        17485.0        NaN      NaN

     totaltestresultssource  totaltestresults  hospitalizedcurrently  \
0           totalTestsViral           2788882                  260.0
1  totalTestEncountersViral           5728208                 1594.0
2                    posNeg             46139                    NaN
3           totalTestsViral           1009285                   39.0
4  totalTestEncountersViral           5048054                  608.0

   hospitalizedcumulative  ...  dataqualitygrade  deathincrease  \
0                 14421.0  ...               NaN            8.0
1                 23436.0  ...               NaN           99.0
2                     NaN  ...               NaN            0.0
3                     NaN  ...               NaN            3.0
4                 18969.0  ...               NaN           19.0

   hospitalizedincrease                                      hash  \
0                  39.0  70f3e22ea3d10f99d5f3c09c55ba95fa1b8aaabb
1                  67.0  75d813bab6075e36b3ed1d3bbbfe18f6692e3959
2                   0.0  7ca160663de572688bb23d17943b6f59863f5fd0
3                   0.0  5156647b94cb2e59c9e4e26be1943e4827a99f13
4                  35.0  8150e925fc2fb429eeb347109e52f7b99ba00f17

   commercialscore negativeregularscore negativescore positivescore  score  \
0              0.0                  0.0           0.0           0.0    0.0
1              0.0                  0.0           0.0           0.0    0.0
2              0.0                  0.0           0.0           0.0    0.0
3              0.0                  0.0           0.0           0.0    0.0
4              0.0                  0.0           0.0           0.0    0.0

   grade
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 56 columns]

Table: covid_19_testing_data_us_dailyus_daily
       date  states    positive    negative  pending  hospitalizedcurrently  \
0  20210307      56  28755524.0  74579770.0  11808.0                40212.0
1  20210306      56  28714259.0  74449356.0  11783.0                41401.0
2  20210305      56  28654639.0  74307155.0  12213.0                42541.0
3  20210304      56  28585852.0  74035238.0  12405.0                44172.0
4  20210303      56  28520365.0  73857281.0  11778.0                45462.0

   hospitalizedcumulative  inicucurrently  inicucumulative  \
0                878613.0          8137.0          45475.0
1                877887.0          8409.0          45453.0
2                877384.0          8634.0          45373.0
3                874603.0          8970.0          45293.0
4                873073.0          9359.0          45214.0

   onventilatorcurrently  ...          lastmodified recovered  total  posneg  \
0                 2801.0  ...  2021-03-07T24:00:00Z       NaN      0       0
1                 2811.0  ...  2021-03-06T24:00:00Z       NaN      0       0
2                 2889.0  ...  2021-03-05T24:00:00Z       NaN      0       0
3                 2973.0  ...  2021-03-04T24:00:00Z       NaN      0       0
4                 3094.0  ...  2021-03-03T24:00:00Z       NaN      0       0

   deathincrease hospitalizedincrease  negativeincrease  positiveincrease  \
0            839                  726            130414             41265
1           1674                  503            142201             59620
2           2221                 2781            271917             68787
3           1743                 1530            177957             65487
4           2449                 2172            267001             66836

   totaltestresultsincrease                                      hash
0                   1156241  8b26839690cd05c0cef69cb9ed85641a76b5e78e
1                   1409138  d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2                   1744417  a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3                   1590984  a19ad6379a653834cbda3093791ad2c3b9fab5ff
4                   1406795  9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

[5 rows x 25 columns]

Table: covid_19_testing_data_us_total_latestus_total_latest
   positive  negative  pending  hospitalizedcurrently  hospitalizedcumulative  \
0   1061101   5170081     2775                  53793                  111955

   inicucurrently  inicucumulative  onventilatorcurrently  \
0            9486             4192                   4712

   onventilatorcumulative  recovered  \
0                     373     153947

                                       hash              lastmodified  death  \
0  95064ba29ccbc20dbec397033dfe4b1f45137c99  2020-05-01T09:12:31.891Z  57266

   hospitalized    total  totaltestresults   posneg             notes
0        111955  6233957           6231182  6231182  "NOTE: ""total""

Table: nytimes_data_in_usaus_states
         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

Table: rearc_usa_hospital_beds
   objectid                                      hospital_name hospital_type  \
0         1  Phoenix VA Health Care System (AKA Carl T Hayd...   VA Hospital
1         2             Southern Arizona VA Health Care System   VA Hospital
2         3           VA Central California Health Care System   VA Hospital
3         4  VA Connecticut Healthcare System - West Haven ...   VA Hospital
4         5                       Wilmington VA Medical Center   VA Hospital

               hq_address hq_address1     hq_city hq_state  hq_zip_code  \
0  650 E Indian School Rd         NaN     Phoenix       AZ        85012
1          3601 S 6th Ave         NaN      Tucson       AZ        85723
2      2615 E Clinton Ave         NaN      Fresno       CA        93703
3        950 Campbell Ave         NaN  West Haven       CT         6516
4       1601 Kirkwood Hwy         NaN  Wilmington       DE        19805

  county_name   state_name  ...  num_licensed_beds  num_staffed_beds  \
0    Maricopa      Arizona  ...              129.0             129.0
1        Pima      Arizona  ...              295.0             295.0
2      Fresno   California  ...               57.0              57.0
3   New Haven  Connecticut  ...              216.0             216.0
4  New Castle     Delaware  ...               60.0              60.0

   num_icu_beds  adult_icu_beds  pedi_icu_beds  bed_utilization  \
0             0               0            NaN              NaN
1             2               2            NaN              NaN
2             2               2            NaN              NaN
3             1               1            NaN              NaN
4             0               0            NaN              NaN

   avg_ventilator_usage  potential_increase_in_bed_capac   latitude  \
0                   0.0                                0  33.495498
1                   2.0                                0  32.181263
2                   2.0                                0  36.773324
3                   2.0                                0  41.284400
4                   1.0                                0  39.740206

   longtitude
0 -112.066157
1 -110.965885
2 -119.779742
3  -72.957610
4  -75.606532

[5 rows x 23 columns]

Table: static_datasets_countrycodecountrycode
          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

Table: static_datasets_countypopulationcountypopulation
               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

Table: static_datasets_state_abvstate_abv
       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [48]:
# Read the downloaded CSV file into a DataFrame

In [40]:
enigma_jhud_data = table_data["enigma_jhud"]
nytimes_data_usa_county = table_data["nytimes_data_in_usa_countyus_county"]
covid_testing_states_daily = table_data["covid_19_testing_data_states_dailystates_daily"]
covid_19_testing_data_us = table_data["covid_19_testing_data_us_dailyus_daily"]
covid_19_testing_data_us_total_latest = table_data["covid_19_testing_data_us_total_latestus_total_latest"]
nytimes_data_in_usa_states = table_data["nytimes_data_in_usaus_states"]
rearc_usa_hospital_beds = table_data["rearc_usa_hospital_beds"]
static_datasets_countrycode = table_data["static_datasets_countrycodecountrycode"]
static_datasets_countypopulation = table_data["static_datasets_countypopulationcountypopulation"]
static_datasets_state_abv = table_data["static_datasets_state_abvstate_abv"]

In [41]:
static_datasets_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [42]:
new_header = static_datasets_state_abv.iloc[0] 
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [43]:
static_datasets_state_abv = static_datasets_state_abv[1:]
static_datasets_state_abv.columns = new_header
static_datasets_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [44]:
factcovid_1 = enigma_jhud_data[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active',]]
factcovid_2 = covid_testing_states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid = pd.merge(factcovid_1,factcovid_2, on = 'fips', how = 'inner')
factCovid.tail()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
6974,72.0,Puerto Rico,US,100.0,3.0,0.0,0.0,20210123,90073,305972.0,325.0,NaN,NaN
6975,72.0,Puerto Rico,US,100.0,3.0,0.0,0.0,20210122,89282,305972.0,341.0,NaN,NaN
6976,72.0,Puerto Rico,US,100.0,3.0,0.0,0.0,20210121,88728,305972.0,344.0,NaN,NaN
6977,72.0,Puerto Rico,US,100.0,3.0,0.0,0.0,20210120,88513,305972.0,331.0,NaN,NaN
6978,72.0,Puerto Rico,US,100.0,3.0,0.0,0.0,20210119,88373,305972.0,351.0,NaN,NaN

In [45]:
enigma_jhud_data.columns

Index(['fips', 'admin2', 'province_state', 'country_region', 'last_update',
       'latitude', 'longitude', 'confirmed', 'deaths', 'recovered', 'active',
       'combined_key', 'partition_0'],
      dtype='object')

In [46]:
nytimes_data_usa_county.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [47]:
dim_region_1 = enigma_jhud_data[['fips', 'province_state', 'country_region','latitude', 'longitude']]
dim_region_2 = nytimes_data_usa_county[['county', 'state', 'fips']]
dimRegion = pd.merge(dim_region_1, dim_region_2, on = 'fips', how = 'inner')
dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York

In [48]:
rearc_usa_hospital_beds.columns

Index(['objectid', 'hospital_name', 'hospital_type', 'hq_address',
       'hq_address1', 'hq_city', 'hq_state', 'hq_zip_code', 'county_name',
       'state_name', 'state_fips', 'cnty_fips', 'fips', 'num_licensed_beds',
       'num_staffed_beds', 'num_icu_beds', 'adult_icu_beds', 'pedi_icu_beds',
       'bed_utilization', 'avg_ventilator_usage',
       'potential_increase_in_bed_capac', 'latitude', 'longtitude'],
      dtype='object')

In [49]:
dim_hospital = rearc_usa_hospital_beds[[ 'fips','state_name','latitude', 'longtitude','hq_address','hospital_name', 'hospital_type','hq_city', 'hq_state']]
dim_hospital.head()

,fips,state_name,latitude,longtitude,hq_address,hospital_name,hospital_type,hq_city,hq_state
0,4013,Arizona,33.495498,-112.066157,650 E Indian School Rd,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,Phoenix,AZ
1,4019,Arizona,32.181263,-110.965885,3601 S 6th Ave,Southern Arizona VA Health Care System,VA Hospital,Tucson,AZ
2,6019,California,36.773324,-119.779742,2615 E Clinton Ave,VA Central California Health Care System,VA Hospital,Fresno,CA
3,9009,Connecticut,41.284400,-72.957610,950 Campbell Ave,VA Connecticut Healthcare System - West Haven ...,VA Hospital,West Haven,CT
4,10003,Delaware,39.740206,-75.606532,1601 Kirkwood Hwy,Wilmington VA Medical Center,VA Hospital,Wilmington,DE

In [50]:
dim_date = covid_testing_states_daily[['fips','date']]
dim_date.head()

   fips      date
0  49.0  20210220
1  51.0  20210220
2  78.0  20210220
3  50.0  20210220
4  53.0  20210220

In [51]:
dim_date['date'] = pd.to_datetime(dim_date['date'],format = '%Y%m%d')
dim_date.head()

   fips       date
0  49.0 2021-02-20
1  51.0 2021-02-20
2  78.0 2021-02-20
3  50.0 2021-02-20
4  53.0 2021-02-20

In [52]:
dim_date['year'] = dim_date['date'].dt.year
dim_date['month'] = dim_date['date'].dt.month
dim_date['dayOfWeek'] = dim_date['date'].dt.dayofweek
dim_date.head()

   fips       date  year  month  dayOfWeek
0  49.0 2021-02-20  2021      2          5
1  51.0 2021-02-20  2021      2          5
2  78.0 2021-02-20  2021      2          5
3  50.0 2021-02-20  2021      2          5
4  53.0 2021-02-20  2021      2          5

In [80]:
def upload_dataframe_to_s3(dataframe, file_path):
    # Convert DataFrame to CSV
    csv_data = dataframe.to_csv(index=False)

    # Create a session using your AWS credentials
    session = boto3.Session(aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY)

    # Create an S3 client
    s3_client = session.client('s3')

    # Define the S3 bucket and file path
    bucket_name = 'meenakshi-test-bucket'
    key = file_path

    # Check if the file already exists in the bucket
    try:
        s3_client.head_object(Bucket=bucket_name, Key=key)
        print(f'File {key} already exists. Deleting it...')
        s3_client.delete_object(Bucket=bucket_name, Key=key)
    except:
        pass

    # Upload the data to S3
    s3_client.put_object(Body=csv_data, Bucket=bucket_name, Key=key)

# Define a list of file paths for different CSV files
file_paths = ['output/dim_date.csv', 'output/dim_hospital.csv', 'output/factCovid.csv', 'output/dimRegion.csv']
dim_dataframe_dict = [dim_date,dim_hospital,factCovid,dimRegion]

# Upload each DataFrame to S3 in a loop
for path, dataframe in zip(file_paths, dim_dataframe_dict):
    upload_dataframe_to_s3(dataframe, path)

File output/dim_date.csv already exists. Deleting it...
File output/dim_hospital.csv already exists. Deleting it...
File output/factCovid.csv already exists. Deleting it...
File output/dimRegion.csv already exists. Deleting it...

In [57]:
#get schema for the dim and fact tables
dim_date.head()

   fips       date  year  month  dayOfWeek
0  49.0 2021-02-20  2021      2          5
1  51.0 2021-02-20  2021      2          5
2  78.0 2021-02-20  2021      2          5
3  50.0 2021-02-20  2021      2          5
4  53.0 2021-02-20  2021      2          5

In [61]:
import pandas as pd

# List of DataFrames
dataframes = [dim_date, dim_hospital, factCovid, dimRegion]
table_names = ['dim_date', 'dim_hospital', 'factCovid', 'dimRegion']

# Loop through the DataFrames
for df, table_name in zip(dataframes, table_names):
    # Get the SQL schema of the subset DataFrame
    schema = pd.io.sql.get_schema(df, table_name)

    # Print the SQL schema
    print(schema)
    print('\n')

CREATE TABLE "dim_date" (
"fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "dayOfWeek" INTEGER
)


CREATE TABLE "dim_hospital" (
"fips" INTEGER,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)


CREATE TABLE "factCovid" (
"fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)


CREATE TABLE "dimRegion" (
"fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [63]:
#pip install redshift_connector

In [64]:
import redshift_connector

In [66]:
import redshift_connector

conn = redshift_connector.connect(
    host='redshift-cluster-1.cdoeoearcpxt.us-east-1.redshift.amazonaws.com',
    port=5439,
    database='dev',
    user='awsuser',
    password='Meenakshi1',
    timeout=120
)

In [67]:
# auto commit to refelect the cahnges to the redshift

In [68]:
conn.autocommit = True

In [19]:
#cursor used for exceution of queries
cursor = redshift_connector.Cursor = conn.cursor()

In [70]:
cursor.execute("""
CREATE TABLE "dim_date" (
"fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "dayOfWeek" INTEGER
)
""")

In [71]:
cursor.execute("""
CREATE TABLE "dim_hospital" (
"fips" INTEGER,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

In [72]:
cursor.execute("""
CREATE TABLE "factCovid" (
"fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [77]:
cursor.execute("""
copy dim_date from 's3://meenakshi-test-bucket/output/dim_date.csv'
CREDENTIALS 'aws_iam_role=arn:aws:iam::591034249457:role/service-role/AmazonRedshift-CommandsAccessRole-20230525T105017'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

In [ ]:
cursor.execute("""
copy dimRegion from 's3://meenakshi-test-bucket/output/dimRegion.csv'
CREDENTIALS 'aws_iam_role=arn:aws:iam::591034249457:role/service-role/AmazonRedshift-CommandsAccessRole-20230525T105017'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

cursor.execute("""
copy dim_hospital from 's3://meenakshi-test-bucket/output/dim_hospital.csv'
CREDENTIALS 'aws_iam_role=arn:aws:iam::591034249457:role/service-role/AmazonRedshift-CommandsAccessRole-20230525T105017'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

cursor.execute("""
copy factCovid from 's3://meenakshi-test-bucket/output/factCovid.csv'
CREDENTIALS 'aws_iam_role=arn:aws:iam::591034249457:role/service-role/AmazonRedshift-CommandsAccessRole-20230525T105017'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

In [78]:
cursor.execute("SELECT * FROM stl_load_errors ORDER BY starttime DESC LIMIT 1")
error_details = cursor.fetchall()
print(error_details)

([100, 3, 105932, datetime.datetime(2023, 5, 25, 17, 58, 33, 598886), 1073840563, 10353, 's3://meenakshi-test-bucket/output/dimRegion.csv                                                                                                                                                                                                                 ', 2, '                                                                                                                               ', '          ', '          ', 18, ',Anhui,China,1.0,,,,20210119,289939,,1066.0,,                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ', '                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ', 1202, 'Extra column(s) found                                                                               ', 0, 0, 0],)

In [79]:
dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York