In [1]:
import boto3 #used to connect to aws services to work with it
import pandas as pd
from io import StringIO # to encode data in binary form
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
AWS_ACCESS_KEY ="AKIAYTHDC6DYXGKIVXAX"
AWS_SECRET_KEY = "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"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "covid_dataset"
S3_STAGING_DIR = "s3://meenakshi-test-bucket/output/"
S3_BUCKET_NAME = "meenakshi-test-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [3]:
#connect to athena and query data

In [42]:
athena_client = boto3.client(
                "athena",
                aws_access_key_id = AWS_ACCESS_KEY,
                aws_secret_access_key = AWS_SECRET_KEY,
                region_name = AWS_REGION,)

In [5]:
#takes the dictionary, goes to athena runs query and store data in s3

In [6]:
# response = athena_client.start_query_execution(
#             QueryString ="SELECT * FROM enigma_jhud",
#             QueryExecutionContext = {"Database":SCHEMA_NAME},
#             ResultConfiguration={
#                 "OutputLocation": S3_STAGING_DIR,
#                 "EncryptionConfiguration": {"EncryptionOption":"SSE_S3"},
#                 },
#             )

In [7]:
# table_names = ["enigma_jhud", "nytimes_data_in_usa_countyus_county","covid_19_testing_data_states_dailystates_daily","covid_19_testing_data_us_dailyus_daily","covid_19_testing_data_us_total_latestus_total_latest","nytimes_data_in_usaus_states","rearc_usa_hospital_beds","static_datasets_countrycodecountrycode","static_datasets_countypopulationcountypopulation","static_datasets_state_abvstate_abv"
#         ]
# query_execution_responses = []

# for table_name in table_names:
#     response = athena_client.start_query_execution(
#         QueryString=f"SELECT * FROM {table_name}",
#         QueryExecutionContext={"Database": SCHEMA_NAME},
#         ResultConfiguration={
#             "OutputLocation": S3_STAGING_DIR,
#             "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
#         },
#     )
#     query_execution_responses.append(response)

# # Print or handle the list of query execution responses
# table_query_execution_dict = {table_names[i]: query_execution_responses[i]['QueryExecutionId'] for i in range(len(table_names))}

# # Print or handle the table_query_execution_dict as needed
# for table_name, query_execution_id in table_query_execution_dict.items():
#     print(f"Table: {table_name}, QueryExecutionId: {query_execution_id}")

Table: enigma_jhud, QueryExecutionId: bf8bffb3-d735-47be-931d-c43a27ecd56c
Table: nytimes_data_in_usa_countyus_county, QueryExecutionId: 2e1e6b30-acfa-46b0-b38a-107c9e10a162
Table: covid_19_testing_data_states_dailystates_daily, QueryExecutionId: e1693f51-c3f6-4d0d-8406-9ea02ae94663
Table: covid_19_testing_data_us_dailyus_daily, QueryExecutionId: 00b92f2a-7e74-4b50-be3b-c54078d4dfd9
Table: covid_19_testing_data_us_total_latestus_total_latest, QueryExecutionId: f3bbe0a8-8634-4f0f-8b91-9dbb2ae70f58
Table: nytimes_data_in_usaus_states, QueryExecutionId: e2e27bde-0720-4cfa-9b8a-c2555e5fd37c
Table: rearc_usa_hospital_beds, QueryExecutionId: 327dd551-fe27-4485-924c-26463e7c6f39
Table: static_datasets_countrycodecountrycode, QueryExecutionId: ff6d4542-223a-430f-8978-c4ac18878b51
Table: static_datasets_countypopulationcountypopulation, QueryExecutionId: 955db721-f204-47b1-b3a4-5053df0fbc20
Table: static_datasets_state_abvstate_abv, QueryExecutionId: 49296c9e-8e9c-471c-808b-718434d51cff

In [8]:
# response

{'QueryExecutionId': '49296c9e-8e9c-471c-808b-718434d51cff',
 'ResponseMetadata': {'RequestId': 'b02ddc3c-3950-4307-9256-78b711023c58',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 24 May 2023 19:40:50 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'b02ddc3c-3950-4307-9256-78b711023c58'},
  'RetryAttempts': 0}}

In [9]:
# for i in range(len(table_names)):
#     table_name = table_names[i]
#     query_execution_id = query_execution_responses[i]['QueryExecutionId']

#     query_execution_result = athena_client.get_query_execution(
#         QueryExecutionId=query_execution_id
#     )
    
#     s3_object_key = query_execution_result['QueryExecution']['ResultConfiguration']['OutputLocation']
#     s3_object_key = s3_object_key.replace('s3://meenakshi-test-bucket/', '')
    
#     file_name = table_name
#     file_extension = '.csv'
#     full_file_name = file_name + file_extension
    
#     # Download the file from S3
#     s3_client.download_file('meenakshi-test-bucket', s3_object_key, full_file_name)
#     print(f"File downloaded: {full_file_name}")

NameError: name 's3_client' is not defined

In [10]:
# import boto3
# exe_id = response['QueryExecutionId']
# # Set up AWS credentials and region
# # Configure AWS SDK
# s3_client = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION)

# # Retrieve query execution details (e.g., with AWS Glue or Amazon Athena)
# # Replace `YOUR_QUERY_EXECUTION_ID` with the actual ID
# query_execution_id = exe_id
# query_execution_result = athena_client.get_query_execution(
#     QueryExecutionId=query_execution_id
# )

# # Extract the S3 object key from the query execution details
# s3_object_key = query_execution_result['QueryExecution']['ResultConfiguration']['OutputLocation']

# # Remove the "s3://" prefix
# s3_object_key = s3_object_key.replace('s3://meenakshi-test-bucket/', '')

# print(s3_object_key)  # Output: meenakshi-test-bucket/output/4749a786-d9a1-430b-9a40-56e3f20fa20e.csv

# file_name = exe_id
# file_extension = '.csv'
# full_file_name = file_name + file_extension
# print(full_file_name)
# # Download the file from S3

In [11]:
##s3_client.download_file('meenakshi-test-bucket', s3_object_key, full_file_name)

In [45]:
import boto3
import os
import pandas as pd

# Set up AWS credentials and region
# Configure AWS SDK
s3_client = boto3.client('s3', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION)

table_names = ["enigma_jhud", "nytimes_data_in_usa_countyus_county","covid_19_testing_data_states_dailystates_daily","covid_19_testing_data_us_dailyus_daily","covid_19_testing_data_us_total_latestus_total_latest","nytimes_data_in_usaus_states","rearc_usa_hospital_beds","static_datasets_countrycodecountrycode","static_datasets_countypopulationcountypopulation","static_datasets_state_abvstate_abv"]

query_execution_responses = []

for table_name in table_names:
    response = athena_client.start_query_execution(
        QueryString=f"SELECT * FROM {table_name}",
        QueryExecutionContext={"Database": SCHEMA_NAME},
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
        },
    )
    query_execution_responses.append(response)

all_files_downloaded = True  # Flag to check if all files are downloaded

for i in range(len(table_names)):
    table_name = table_names[i]
    query_execution_id = query_execution_responses[i]['QueryExecutionId']

    query_execution_result = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    
    s3_object_key = query_execution_result['QueryExecution']['ResultConfiguration']['OutputLocation']
    s3_object_key = s3_object_key.replace('s3://meenakshi-test-bucket/', '')
    
    file_name = table_name
    file_extension = '.csv'
    full_file_name = file_name + file_extension
    # Download the file from S3
    s3_client.download_file('meenakshi-test-bucket', s3_object_key, full_file_name)
    print(f"File downloaded: {full_file_name}")
    
    # Check if the file exists
    if not os.path.exists(full_file_name):
        all_files_downloaded = False
        break

if all_files_downloaded:
    print("All files downloaded successfully.")
    
    # Delete the files from S3
    for i in range(len(table_names)):
        table_name = table_names[i]
        query_execution_id = query_execution_responses[i]['QueryExecutionId']
        file_name = query_execution_id + ".csv"
        file_metadata_name = query_execution_id + ".csv.metadata"
        s3_object_key = f"output/{file_name}"
        s3_metadata_object_key = f"output/{file_metadata_name}"
        print(s3_object_key)
        print(s3_metadata_object_key)
        s3_client.delete_object(Bucket='meenakshi-test-bucket', Key=s3_object_key)
        s3_client.delete_object(Bucket='meenakshi-test-bucket', Key=s3_metadata_object_key)
        print(f"File deleted from S3: {s3_object_key}")
        print(f"File deleted from S3: {s3_metadata_object_key}")
else:
    print("Not all files were downloaded. Check the file download process.")

File downloaded: enigma_jhud.csv
File downloaded: nytimes_data_in_usa_countyus_county.csv
File downloaded: covid_19_testing_data_states_dailystates_daily.csv
File downloaded: covid_19_testing_data_us_dailyus_daily.csv
File downloaded: covid_19_testing_data_us_total_latestus_total_latest.csv
File downloaded: nytimes_data_in_usaus_states.csv
File downloaded: rearc_usa_hospital_beds.csv
File downloaded: static_datasets_countrycodecountrycode.csv
File downloaded: static_datasets_countypopulationcountypopulation.csv
File downloaded: static_datasets_state_abvstate_abv.csv
All files downloaded successfully.
output/e7a661fb-cc90-4d05-a73d-a3e17ce4b434.csv
output/e7a661fb-cc90-4d05-a73d-a3e17ce4b434.csv.metadata
File deleted from S3: output/e7a661fb-cc90-4d05-a73d-a3e17ce4b434.csv
File deleted from S3: output/e7a661fb-cc90-4d05-a73d-a3e17ce4b434.csv.metadata
output/47bb4fd2-9415-4ec0-b5d0-17d92f3ccf95.csv
output/47bb4fd2-9415-4ec0-b5d0-17d92f3ccf95.csv.metadata
File deleted from S3: output/47bb4fd2-9415-4ec0-b5d0-17d92f3ccf95.csv
File deleted from S3: output/47bb4fd2-9415-4ec0-b5d0-17d92f3ccf95.csv.metadata
output/922abe4c-81d3-4d45-81e1-0acfec19798b.csv
output/922abe4c-81d3-4d45-81e1-0acfec19798b.csv.metadata
File deleted from S3: output/922abe4c-81d3-4d45-81e1-0acfec19798b.csv
File deleted from S3: output/922abe4c-81d3-4d45-81e1-0acfec19798b.csv.metadata
output/475e050f-e04b-4de3-aacb-61afbf0808ef.csv
output/475e050f-e04b-4de3-aacb-61afbf0808ef.csv.metadata
File deleted from S3: output/475e050f-e04b-4de3-aacb-61afbf0808ef.csv
File deleted from S3: output/475e050f-e04b-4de3-aacb-61afbf0808ef.csv.metadata
output/b7dd202a-574b-4a82-bde1-22dbf95b8080.csv
output/b7dd202a-574b-4a82-bde1-22dbf95b8080.csv.metadata
File deleted from S3: output/b7dd202a-574b-4a82-bde1-22dbf95b8080.csv
File deleted from S3: output/b7dd202a-574b-4a82-bde1-22dbf95b8080.csv.metadata
output/5bee7236-06a3-4e35-b0a4-45cea879b64a.csv
output/5bee7236-06a3-4e35-b0a4-45cea879b64a.csv.metadata
File deleted from S3: output/5bee7236-06a3-4e35-b0a4-45cea879b64a.csv
File deleted from S3: output/5bee7236-06a3-4e35-b0a4-45cea879b64a.csv.metadata
output/951d792c-1c5b-42a6-b039-1f8b56ec5717.csv
output/951d792c-1c5b-42a6-b039-1f8b56ec5717.csv.metadata
File deleted from S3: output/951d792c-1c5b-42a6-b039-1f8b56ec5717.csv
File deleted from S3: output/951d792c-1c5b-42a6-b039-1f8b56ec5717.csv.metadata
output/a3e95669-684d-4497-8260-8326555adb90.csv
output/a3e95669-684d-4497-8260-8326555adb90.csv.metadata
File deleted from S3: output/a3e95669-684d-4497-8260-8326555adb90.csv
File deleted from S3: output/a3e95669-684d-4497-8260-8326555adb90.csv.metadata
output/55c1967c-2e0e-435e-9f87-ca925f80b048.csv
output/55c1967c-2e0e-435e-9f87-ca925f80b048.csv.metadata
File deleted from S3: output/55c1967c-2e0e-435e-9f87-ca925f80b048.csv
File deleted from S3: output/55c1967c-2e0e-435e-9f87-ca925f80b048.csv.metadata
output/f1a92e10-7588-47b3-844a-95bbdba08d6a.csv
output/f1a92e10-7588-47b3-844a-95bbdba08d6a.csv.metadata
File deleted from S3: output/f1a92e10-7588-47b3-844a-95bbdba08d6a.csv
File deleted from S3: output/f1a92e10-7588-47b3-844a-95bbdba08d6a.csv.metadata

In [47]:
import pandas as pd

table_data = {}  # Dictionary to store table data

table_names = ["enigma_jhud", "nytimes_data_in_usa_countyus_county","covid_19_testing_data_states_dailystates_daily","covid_19_testing_data_us_dailyus_daily","covid_19_testing_data_us_total_latestus_total_latest","nytimes_data_in_usaus_states","rearc_usa_hospital_beds","static_datasets_countrycodecountrycode","static_datasets_countypopulationcountypopulation","static_datasets_state_abvstate_abv"]

for table_name in table_names:
    file_name = table_name + ".csv"
    
    # Read the CSV file into a DataFrame
    table_data[table_name] = pd.read_csv(file_name)
    print(f"CSV file read: {file_name} for table: {table_name}")

# Access the table data using table names as keys
for table_name, data in table_data.items():
    # Perform operations on the table data
    print(f"Table: {table_name}")
    print(data.head())  # Example: Print the first few rows of the table
    print()

CSV file read: enigma_jhud.csv for table: enigma_jhud
CSV file read: nytimes_data_in_usa_countyus_county.csv for table: nytimes_data_in_usa_countyus_county
CSV file read: covid_19_testing_data_states_dailystates_daily.csv for table: covid_19_testing_data_states_dailystates_daily
CSV file read: covid_19_testing_data_us_dailyus_daily.csv for table: covid_19_testing_data_us_dailyus_daily
CSV file read: covid_19_testing_data_us_total_latestus_total_latest.csv for table: covid_19_testing_data_us_total_latestus_total_latest
CSV file read: nytimes_data_in_usaus_states.csv for table: nytimes_data_in_usaus_states
CSV file read: rearc_usa_hospital_beds.csv for table: rearc_usa_hospital_beds
CSV file read: static_datasets_countrycodecountrycode.csv for table: static_datasets_countrycodecountrycode
CSV file read: static_datasets_countypopulationcountypopulation.csv for table: static_datasets_countypopulationcountypopulation
CSV file read: static_datasets_state_abvstate_abv.csv for table: static_datasets_state_abvstate_abv
Table: enigma_jhud
   fips admin2 province_state country_region          last_update  latitude  \
0   NaN    NaN          Anhui          China  2020-01-22T17:00:00    31.826
1   NaN    NaN        Beijing          China  2020-01-22T17:00:00    40.182
2   NaN    NaN      Chongqing          China  2020-01-22T17:00:00    30.057
3   NaN    NaN         Fujian          China  2020-01-22T17:00:00    26.079
4   NaN    NaN          Gansu          China  2020-01-22T17:00:00    36.061

   longitude  confirmed  deaths  recovered  active combined_key partition_0
0    117.226        1.0     NaN        NaN     NaN       "Anhui         csv
1    116.414       14.0     NaN        NaN     NaN     "Beijing         csv
2    107.874        6.0     NaN        NaN     NaN   "Chongqing         csv
3    117.987        1.0     NaN        NaN     NaN      "Fujian         csv
4    103.834        NaN     NaN        NaN     NaN       "Gansu         csv

Table: nytimes_data_in_usa_countyus_county
         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

Table: covid_19_testing_data_states_dailystates_daily
       date state  positive  probablecases   negative  pending  \
0  20210220    UT    366034            NaN  1507875.0      NaN
1  20210220    VA    561812       117662.0        NaN    195.0
2  20210220    VI      2575            NaN    43564.0    108.0
3  20210220    VT     14359          411.0   309335.0      NaN
4  20210220    WA    332904        17485.0        NaN      NaN

     totaltestresultssource  totaltestresults  hospitalizedcurrently  \
0           totalTestsViral           2788882                  260.0
1  totalTestEncountersViral           5728208                 1594.0
2                    posNeg             46139                    NaN
3           totalTestsViral           1009285                   39.0
4  totalTestEncountersViral           5048054                  608.0

   hospitalizedcumulative  ...  dataqualitygrade  deathincrease  \
0                 14421.0  ...               NaN            8.0
1                 23436.0  ...               NaN           99.0
2                     NaN  ...               NaN            0.0
3                     NaN  ...               NaN            3.0
4                 18969.0  ...               NaN           19.0

   hospitalizedincrease                                      hash  \
0                  39.0  70f3e22ea3d10f99d5f3c09c55ba95fa1b8aaabb
1                  67.0  75d813bab6075e36b3ed1d3bbbfe18f6692e3959
2                   0.0  7ca160663de572688bb23d17943b6f59863f5fd0
3                   0.0  5156647b94cb2e59c9e4e26be1943e4827a99f13
4                  35.0  8150e925fc2fb429eeb347109e52f7b99ba00f17

   commercialscore negativeregularscore negativescore positivescore  score  \
0              0.0                  0.0           0.0           0.0    0.0
1              0.0                  0.0           0.0           0.0    0.0
2              0.0                  0.0           0.0           0.0    0.0
3              0.0                  0.0           0.0           0.0    0.0
4              0.0                  0.0           0.0           0.0    0.0

   grade
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 56 columns]

Table: covid_19_testing_data_us_dailyus_daily
       date  states    positive    negative  pending  hospitalizedcurrently  \
0  20210307      56  28755524.0  74579770.0  11808.0                40212.0
1  20210306      56  28714259.0  74449356.0  11783.0                41401.0
2  20210305      56  28654639.0  74307155.0  12213.0                42541.0
3  20210304      56  28585852.0  74035238.0  12405.0                44172.0
4  20210303      56  28520365.0  73857281.0  11778.0                45462.0

   hospitalizedcumulative  inicucurrently  inicucumulative  \
0                878613.0          8137.0          45475.0
1                877887.0          8409.0          45453.0
2                877384.0          8634.0          45373.0
3                874603.0          8970.0          45293.0
4                873073.0          9359.0          45214.0

   onventilatorcurrently  ...          lastmodified recovered  total  posneg  \
0                 2801.0  ...  2021-03-07T24:00:00Z       NaN      0       0
1                 2811.0  ...  2021-03-06T24:00:00Z       NaN      0       0
2                 2889.0  ...  2021-03-05T24:00:00Z       NaN      0       0
3                 2973.0  ...  2021-03-04T24:00:00Z       NaN      0       0
4                 3094.0  ...  2021-03-03T24:00:00Z       NaN      0       0

   deathincrease hospitalizedincrease  negativeincrease  positiveincrease  \
0            839                  726            130414             41265
1           1674                  503            142201             59620
2           2221                 2781            271917             68787
3           1743                 1530            177957             65487
4           2449                 2172            267001             66836

   totaltestresultsincrease                                      hash
0                   1156241  8b26839690cd05c0cef69cb9ed85641a76b5e78e
1                   1409138  d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2                   1744417  a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3                   1590984  a19ad6379a653834cbda3093791ad2c3b9fab5ff
4                   1406795  9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

[5 rows x 25 columns]

Table: covid_19_testing_data_us_total_latestus_total_latest
   positive  negative  pending  hospitalizedcurrently  hospitalizedcumulative  \
0   1061101   5170081     2775                  53793                  111955

   inicucurrently  inicucumulative  onventilatorcurrently  \
0            9486             4192                   4712

   onventilatorcumulative  recovered  \
0                     373     153947

                                       hash              lastmodified  death  \
0  95064ba29ccbc20dbec397033dfe4b1f45137c99  2020-05-01T09:12:31.891Z  57266

   hospitalized    total  totaltestresults   posneg             notes
0        111955  6233957           6231182  6231182  "NOTE: ""total""

Table: nytimes_data_in_usaus_states
         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

Table: rearc_usa_hospital_beds
   objectid                                      hospital_name hospital_type  \
0         1  Phoenix VA Health Care System (AKA Carl T Hayd...   VA Hospital
1         2             Southern Arizona VA Health Care System   VA Hospital
2         3           VA Central California Health Care System   VA Hospital
3         4  VA Connecticut Healthcare System - West Haven ...   VA Hospital
4         5                       Wilmington VA Medical Center   VA Hospital

               hq_address hq_address1     hq_city hq_state  hq_zip_code  \
0  650 E Indian School Rd         NaN     Phoenix       AZ        85012
1          3601 S 6th Ave         NaN      Tucson       AZ        85723
2      2615 E Clinton Ave         NaN      Fresno       CA        93703
3        950 Campbell Ave         NaN  West Haven       CT         6516
4       1601 Kirkwood Hwy         NaN  Wilmington       DE        19805

  county_name   state_name  ...  num_licensed_beds  num_staffed_beds  \
0    Maricopa      Arizona  ...              129.0             129.0
1        Pima      Arizona  ...              295.0             295.0
2      Fresno   California  ...               57.0              57.0
3   New Haven  Connecticut  ...              216.0             216.0
4  New Castle     Delaware  ...               60.0              60.0

   num_icu_beds  adult_icu_beds  pedi_icu_beds  bed_utilization  \
0             0               0            NaN              NaN
1             2               2            NaN              NaN
2             2               2            NaN              NaN
3             1               1            NaN              NaN
4             0               0            NaN              NaN

   avg_ventilator_usage  potential_increase_in_bed_capac   latitude  \
0                   0.0                                0  33.495498
1                   2.0                                0  32.181263
2                   2.0                                0  36.773324
3                   2.0                                0  41.284400
4                   1.0                                0  39.740206

   longtitude
0 -112.066157
1 -110.965885
2 -119.779742
3  -72.957610
4  -75.606532

[5 rows x 23 columns]

Table: static_datasets_countrycodecountrycode
          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

Table: static_datasets_countypopulationcountypopulation
               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

Table: static_datasets_state_abvstate_abv
       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [48]:
# Read the downloaded CSV file into a DataFrame

In [49]:
enigma_jhud_data = table_data["enigma_jhud"]
nytimes_data_usa_county = table_data["nytimes_data_in_usa_countyus_county"]
covid_testing_states_daily = table_data["covid_19_testing_data_states_dailystates_daily"]
covid_19_testing_data_us = table_data["covid_19_testing_data_us_dailyus_daily"]
covid_19_testing_data_us_total_latest = table_data["covid_19_testing_data_us_total_latestus_total_latest"]
nytimes_data_in_usa_states = table_data["nytimes_data_in_usaus_states"]
rearc_usa_hospital_beds = table_data["rearc_usa_hospital_beds"]
static_datasets_countrycode = table_data["static_datasets_countrycodecountrycode"]
static_datasets_countypopulation = table_data["static_datasets_countypopulationcountypopulation"]
static_datasets_state_abv = table_data["static_datasets_state_abvstate_abv"]

In [50]:
static_datasets_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [51]:
new_header = static_datasets_state_abv.iloc[0] 
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [52]:
static_datasets_state_abv = static_datasets_state_abv[1:]
static_datasets_state_abv.columns = new_header
static_datasets_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [53]:
factcovid_1 = enigma_jhud_data[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active',]]
factcovid_2 = covid_testing_states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid = pd.merge(factcovid_1,factcovid_2, on = 'fips', how = 'inner')
factCovid.tail()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
6110,72.0,Puerto Rico,US,51.0,2.0,0.0,0.0,20210123,90073,305972.0,325.0,NaN,NaN
6111,72.0,Puerto Rico,US,51.0,2.0,0.0,0.0,20210122,89282,305972.0,341.0,NaN,NaN
6112,72.0,Puerto Rico,US,51.0,2.0,0.0,0.0,20210121,88728,305972.0,344.0,NaN,NaN
6113,72.0,Puerto Rico,US,51.0,2.0,0.0,0.0,20210120,88513,305972.0,331.0,NaN,NaN
6114,72.0,Puerto Rico,US,51.0,2.0,0.0,0.0,20210119,88373,305972.0,351.0,NaN,NaN

In [54]:
enigma_jhud_data.columns

Index(['fips', 'admin2', 'province_state', 'country_region', 'last_update',
       'latitude', 'longitude', 'confirmed', 'deaths', 'recovered', 'active',
       'combined_key', 'partition_0'],
      dtype='object')

In [55]:
nytimes_data_usa_county.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [56]:
dim_region_1 = enigma_jhud_data[['fips', 'province_state', 'country_region','latitude', 'longitude']]
dim_region_2 = nytimes_data_usa_county[['county', 'state', 'fips']]
dimRegion = pd.merge(dim_region_1, dim_region_2, on = 'fips', how = 'inner')
dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York

In [57]:
rearc_usa_hospital_beds.columns

Index(['objectid', 'hospital_name', 'hospital_type', 'hq_address',
       'hq_address1', 'hq_city', 'hq_state', 'hq_zip_code', 'county_name',
       'state_name', 'state_fips', 'cnty_fips', 'fips', 'num_licensed_beds',
       'num_staffed_beds', 'num_icu_beds', 'adult_icu_beds', 'pedi_icu_beds',
       'bed_utilization', 'avg_ventilator_usage',
       'potential_increase_in_bed_capac', 'latitude', 'longtitude'],
      dtype='object')

In [58]:
dim_hospital = rearc_usa_hospital_beds[[ 'fips','state_name','latitude', 'longtitude','hq_address','hospital_name', 'hospital_type','hq_city', 'hq_state']]
dim_hospital.head()

,fips,state_name,latitude,longtitude,hq_address,hospital_name,hospital_type,hq_city,hq_state
0,4013,Arizona,33.495498,-112.066157,650 E Indian School Rd,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,Phoenix,AZ
1,4019,Arizona,32.181263,-110.965885,3601 S 6th Ave,Southern Arizona VA Health Care System,VA Hospital,Tucson,AZ
2,6019,California,36.773324,-119.779742,2615 E Clinton Ave,VA Central California Health Care System,VA Hospital,Fresno,CA
3,9009,Connecticut,41.284400,-72.957610,950 Campbell Ave,VA Connecticut Healthcare System - West Haven ...,VA Hospital,West Haven,CT
4,10003,Delaware,39.740206,-75.606532,1601 Kirkwood Hwy,Wilmington VA Medical Center,VA Hospital,Wilmington,DE

In [59]:
dim_date = covid_testing_states_daily[['fips','date']]
dim_date.head()

   fips      date
0  49.0  20210220
1  51.0  20210220
2  78.0  20210220
3  50.0  20210220
4  53.0  20210220

In [60]:
dim_date['date'] = pd.to_datetime(dim_date['date'],format = '%Y%m%d')
dim_date.head()

   fips       date
0  49.0 2021-02-20
1  51.0 2021-02-20
2  78.0 2021-02-20
3  50.0 2021-02-20
4  53.0 2021-02-20

In [61]:
dim_date['year'] = dim_date['date'].dt.year
dim_date['month'] = dim_date['date'].dt.month
dim_date['dayOfWeek'] = dim_date['date'].dt.dayofweek
dim_date.head()

   fips       date  year  month  dayOfWeek
0  49.0 2021-02-20  2021      2          5
1  51.0 2021-02-20  2021      2          5
2  78.0 2021-02-20  2021      2          5
3  50.0 2021-02-20  2021      2          5
4  53.0 2021-02-20  2021      2          5

In [62]:
dim_date_csv = dim_date.to_csv(index=False)

In [63]:
# Create a session using your AWS credentials
session = boto3.Session(aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY)

# Create an S3 client
s3_client = session.client('s3')

# Define the S3 bucket and file path
bucket_name = 'meenakshi-test-bucket'
file_path = 'output/dim_date_csv'

# Upload the data to S3
s3_client.put_object(Body=dim_date_csv, Bucket=bucket_name, Key=file_path)

{'ResponseMetadata': {'RequestId': '3FGN76C2SZ2PZ2ZS',
  'HostId': 'i0ZdcYkiJ3q1dDbMIlgOjrMHEa0Ey872IqiEOiDQVSaMnAxVXGMyxnmzyAqDFonEHQ9c1BKOWIg=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'i0ZdcYkiJ3q1dDbMIlgOjrMHEa0Ey872IqiEOiDQVSaMnAxVXGMyxnmzyAqDFonEHQ9c1BKOWIg=',
   'x-amz-request-id': '3FGN76C2SZ2PZ2ZS',
   'date': 'Wed, 24 May 2023 20:22:35 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"95999819250ac7ff43676bd7179406ea"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"95999819250ac7ff43676bd7179406ea"',
 'ServerSideEncryption': 'AES256'}

In [68]:
def upload_dataframe_to_s3(dataframe, file_path):
    # Convert DataFrame to CSV
    csv_data = dataframe.to_csv(index=False)

    # Create a session using your AWS credentials
    session = boto3.Session(aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY)

    # Create an S3 client
    s3_client = session.client('s3')

    # Define the S3 bucket and file path
    bucket_name = 'meenakshi-test-bucket'
    key = file_path

    # Check if the file already exists in the bucket
    try:
        s3_client.head_object(Bucket=bucket_name, Key=key)
        print(f'File {key} already exists. Deleting it...')
        s3_client.delete_object(Bucket=bucket_name, Key=key)
    except:
        pass

    # Upload the data to S3
    s3_client.put_object(Body=csv_data, Bucket=bucket_name, Key=key)

# Define a list of file paths for different CSV files
file_paths = ['output/dim_date.csv', 'output/dim_hospital.csv', 'output/factCovid.csv', 'output/dimRegion.csv']
dim_dataframe_dict = [dim_date,dim_hospital,dimRegion,factCovid]

# Upload each DataFrame to S3 in a loop
for path, dataframe in zip(file_paths, dim_dataframe_dict):
    upload_dataframe_to_s3(dataframe, path)

File output/dim_date.csv already exists. Deleting it...
File output/dim_hospital.csv already exists. Deleting it...
File output/factCovid.csv already exists. Deleting it...

In [71]:
#get schema for the dim and fact tables
dim_date.head()

   fips       date  year  month  dayOfWeek
0  49.0 2021-02-20  2021      2          5
1  51.0 2021-02-20  2021      2          5
2  78.0 2021-02-20  2021      2          5
3  50.0 2021-02-20  2021      2          5
4  53.0 2021-02-20  2021      2          5

In [70]:
dimDatesql = pd.io.sql.get_schema(dim_date.reset_index(),'dim_date')
print(''.join(dim_date))

fipsdateyearmonthdayOfWeek

In [78]:
import pandas as pd

# Get the SQL schema of the subset DataFrame
schema = pd.io.sql.get_schema(dim_hospital, 'dimDate')

# Print the SQL schema
print(schema)

CREATE TABLE "dimDate" (
"fips" INTEGER,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [79]:
import pandas as pd

# List of DataFrames
dataframes = [dim_date, dim_hospital, factCovid, dimRegion]
table_names = ['dim_date', 'dim_hospital', 'factCovid', 'dimRegion']

# Loop through the DataFrames
for df, table_name in zip(dataframes, table_names):
    # Get the SQL schema of the subset DataFrame
    schema = pd.io.sql.get_schema(df, table_name)

    # Print the SQL schema
    print(schema)
    print('\n')

CREATE TABLE "dim_date" (
"fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "dayOfWeek" INTEGER
)


CREATE TABLE "dim_hospital" (
"fips" INTEGER,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)


CREATE TABLE "factCovid" (
"fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)


CREATE TABLE "dimRegion" (
"fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [93]:
pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\users\dpsmv\anaconda3\lib\site-packages (2.0.910)
Requirement already satisfied: pytz>=2020.1 in c:\users\dpsmv\anaconda3\lib\site-packages (from redshift_connector) (2021.3)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\users\dpsmv\anaconda3\lib\site-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: packaging in c:\users\dpsmv\anaconda3\lib\site-packages (from redshift_connector) (21.3)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\dpsmv\anaconda3\lib\site-packages (from redshift_connector) (1.29.139)
Requirement already satisfied: lxml>=4.6.5 in c:\users\dpsmv\anaconda3\lib\site-packages (from redshift_connector) (4.8.0)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\dpsmv\anaconda3\lib\site-packages (from redshift_connector) (4.11.1)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\dpsmv\anaconda3\lib\site-packages (from redshift_connector) (1.26.139)
Requirement already satisfied: setuptools in c:\users\dpsmv\anaconda3\lib\site-packages (from redshift_connector) (61.2.0)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\dpsmv\anaconda3\lib\site-packages (from redshift_connector) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dpsmv\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.3.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\dpsmv\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.10.0)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in c:\users\dpsmv\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\dpsmv\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.9)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\dpsmv\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dpsmv\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dpsmv\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dpsmv\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dpsmv\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.3)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\dpsmv\anaconda3\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\dpsmv\anaconda3\lib\site-packages (from packaging->redshift_connector) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)

In [109]:
import redshift_connector

In [104]:
#pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\dpsmv\anaconda3\lib\site-packages)

In [3]:
import redshift_connector

conn = redshift_connector.connect(
    host='redshift-cluster-1.cdoeoearcpxt.us-east-1.redshift.amazonaws.com',
    port=5439,
    database='dev',
    user='awsuser',
    password='Meenakshi1',
    timeout=120
)

In [4]:
# auto commit to refelect the cahnges to the redshift

In [5]:
conn.autocommit = True

In [6]:
#cursor used for exceution of queries
cursor = redshift_connector.Cursor = conn.cursor()

In [7]:
cursor.execute("""
CREATE TABLE "dim_date" (
"fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "dayOfWeek" INTEGER
)
""")

In [8]:
cursor.execute("""
CREATE TABLE "dim_hospital" (
"fips" INTEGER,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

In [10]:
cursor.execute("""
CREATE TABLE "factCovid" (
"fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [11]:
cursor.execute("""
CREATE TABLE "dimRegion" (
"fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
""")

In [12]:
cursor.execute("""
copy dim_date from 's3://meenakshi-test-bucket/output/dim_date_csv'
CREDENTIALS 'aws_iam_role=arn:aws:iam::591034249457:role/service-role/AmazonRedshift-CommandsAccessRole-20230525T105017'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

In [13]:
cursor.execute("""
copy dimRegion from 's3://meenakshi-test-bucket/output/dim_date_csv'
CREDENTIALS 'aws_iam_role=arn:aws:iam::591034249457:role/service-role/AmazonRedshift-CommandsAccessRole-20230525T105017'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

cursor.execute("""
copy dim_hospital from 's3://meenakshi-test-bucket/output/dim_date_csv'
CREDENTIALS 'aws_iam_role=arn:aws:iam::591034249457:role/service-role/AmazonRedshift-CommandsAccessRole-20230525T105017'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

cursor.execute("""
copy factCovid from 's3://meenakshi-test-bucket/output/dim_date_csv'
CREDENTIALS 'aws_iam_role=arn:aws:iam::591034249457:role/service-role/AmazonRedshift-CommandsAccessRole-20230525T105017'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

ProgrammingError: {'S': 'ERROR', 'C': 'XX000', 'M': 'Cannot COPY into nonexistent table dim_date', 'F': '../src/sys/compression_analyzer.cpp', 'L': '520', 'R': 'XenGetLoadTableId'}